---
import Container from "@mui/material/Container";
import Layout from "../layouts/Layout.astro";
import Paper from "@mui/material/Paper";
---

<Layout>
	<Container maxWidth="xl">
		<Paper elevation={2} className='p-5 my-5 min-h-[85vh] flex flex-col items-center justify-center'>
			<h1 class="text-4xl">Blog</h1>
		</Paper>
	</Container>
</Layout>