---
import Paper from '@mui/material/Paper';
import Layout from '../layouts/Layout.astro';
import Container from '@mui/material/Container';
import TextField from '@mui/material/TextField';
import Button from '@mui/material/Button';
import Box from '@mui/material/Box';
---

<Layout>
		<section class="mx-0 px-0">
			<div class='min-h-[35vh] flex flex-col items-center justify-center bg-blue-800 shadow-md'>
				<h1 class="text-4xl text-white font-bold">CT REALTOR - YOUR TRUSTED REALTOR IN KOLKATA</h1>

				<p class="text-white mt-4 text-center max-w-2xl">
					CT Realtor is based in Salt Lake City, Bidhannagar, Kolkata. We specialize in offering comprehensive real estate marketing services for both commercial and residential properties throughout Kolkata.
				</p>
			</div>
		</section>
</Layout>
