---
import Paper from '@mui/material/Paper';
import Layout from '../layouts/Layout.astro';
import Container from '@mui/material/Container';
import TextField from '@mui/material/TextField';
import Button from '@mui/material/Button';
import Box from '@mui/material/Box';
---

<Layout>
	<Container maxWidth="xl">
		<Paper elevation={2} className='p-5 my-5 min-h-[85vh] flex flex-col items-center justify-center'>
			<h1 class="text-4xl">Search for a property for Business</h1>
			<Box className="my-5 flex gap-0 w-full">
				<TextField fullWidth id="outlined-basic" label="Search Property" variant="outlined" />
				<Button variant="contained">Search</Button>
			</Box>
		</Paper>
	</Container>
</Layout>
